nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  figure img {
    width: 100%;
  }
  